.account-detail-container {
  padding: 30px;
  color: white;
}

.account-detail-info {
  margin-bottom: 30px;
  font-size: 18px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
