form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem 0.8rem;
  border-radius: 6px;

  color: var(--color-text);
  background: var(--color-surface);
  border: 1px solid var(--color-border);

  transition: border 0.2s;
}

input:focus {
  outline: none;
  border-color: var(--color-primary);
}
