
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.empty-state img {
  width: clamp(200px, 60vw, 500px);
  height: auto;
  margin-bottom: 1rem;
}

.ver-mas-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
