
@import "./cards.css";
@import "./buttons.css";
@import "./forms.css";
@import "./productsPage.css";
@import "./sidebar.css";
@import "../components/Cards/productsCard/productCards.css";


/* clean modern */
:root {
  --color-bg: #fff8d7;            
  --color-surface: #ffe9a0; 
  --color-border: #c2ac65;  

  --color-text: #2a220f;     
  --color-text-secondary: #534719;

  --color-primary: #dab41f;    
  --color-primary-hover: #eab308;
  --color-secondary: #fde047;   
  --color-accent: #773906;  

  --radius: 8px;
  --shadow: 0px 2px 10px rgba(0,0,0,0.04);
}


/* dark elegant */
[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-border: #334155;

  --color-text: #f8fafc;
  --color-text-secondary: #cbd5e1;
  
  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;
  --color-secondary: #6366f1;
  --color-accent: #a78bfa;
}

/* green tech */
[data-theme="green"] {
  --color-bg: #bcffd9;         
  --color-surface: #74e7a6;     
  --color-border: #00461f;      

  --color-text: #0f2f1f;    
  --color-text-secondary: #115330;

  --color-primary: #29a356;   
  --color-primary-hover: #16a34a;
  --color-secondary: #86efac;   
  --color-accent: #03a066;     
}


/* aplicar variabes */
body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
}

* {
  transition: background 0.3s ease, color 0.3s ease;
}

/* reset del layout general */

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* contenedor general de la app */
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

/* contenido principal */
.main-content {
  flex: 1;
  padding: 1.5rem;
}
